.bg {
    height: 100%;
    background-position: top;
    background-size: cover;
    background-image: url("background_messageboard.jpg");
}

#main {
    transition: margin-left .5s;
    padding: 0px;
    margin-left: 250px;
}

#channelheader {
    background-color: wheat;
    position: fixed;
    top: 0;
    padding: 0;
    margin-left: 0px;
}

#channelheaderrow {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

#channelheadertext {
    font-style: italic;
    font-size: large;
    color: black;
    padding: 0;
}

.messageheader {
    font-style: italic;
    font-size: small;
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

.messagetext {
    background-color: white;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
}

#new-message {
    background-color: wheat;
    padding: 10px;
    position: sticky;
    bottom: 0;
}

#menubutton {
    font-size: 30px;
    background-color: white;
    position: fixed;
    top: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 5px;
    cursor: pointer;
    display: none;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sidenav > span {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 32px;
    padding-right: 8px;
    text-decoration: none;
    font-size: medium;
    display: block;
}

ul li {
  list-style-type: none;
  padding-left: 10px;
}

.sidenav a {
    color: black;
}

.sidenav a:hover {
    color: blue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}
