/* Background image */
.bg {
    height: 100%;
    background-position: top;
    background-size: cover;
    background-image: url("background_messageboard.jpg");
}

/* Main window, containing header and messages */
#main {
    transition: margin-left .5s;
    padding: 0px;
    margin-left: 250px;
}

/* Header with channel name and remove / add favorite button */
#channelheader {
    background-color: wheat;
    position: fixed;
    top: 0;
    padding: 0;
    margin-left: 0px;
}

#channelheaderrow {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

#channelheadertext {
    font-style: italic;
    font-size: large;
    color: black;
    padding: 0;
}

#favorite-button {
    margin-bottom: 5px;
}

/* Messages windown, with header and text per message */
#messages {
    margin-top: 60px;
}

.messageheader {
    font-style: italic;
    font-size: small;
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

.messagetext {
    background-color: white;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
}

/* Input field for new messages */
#newmessage-field {
    background-color: wheat;
    padding: 10px;
    position: sticky;
    bottom: 0;
}

/* Menu button which opens the menu window after it has been collapsed */
#menubutton {
    font-size: 30px;
    background-color: white;
    position: fixed;
    top: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 1px;
    cursor: pointer;
    display: none;
}

/* Menu with lists of favorites and channels, input for new channel and feedback, and hover effects */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sidenav > span {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 32px;
    padding-right: 8px;
    font-size: medium;
}

.sidenav > form {
    padding-left: 42px;
    margin: 0;
}

#channelfeedback {
    font-size: small;
    font-style: italic;
    color: red;
    padding-left: 42px;
}

.sidenav ul li {
  list-style-type: none;
  padding-left: 10px;
}

.sidenav a {
    color: black;
}

.sidenav a:hover {
    color: blue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

/* Pop-up form to input a new display name, with overlay to block other input */
#overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 8;
    top: 0;
    left: 0;
    background-color: green;
    opacity: 0.6;
}

.form-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

#displayname-popup {
    display: none;
}

.form-container {
    max-width: 300px;
    width: 100%;
    background-color: white;
    padding: 15px;
    margin: 15px;
    background: whitesmoke;
}

#displayname-feedback {
    font-size: small;
    font-style: italic;
    color: red;
}

.form-container .btn {
    background-color: green;
    color: white;
    padding: 5px;
    cursor: pointer;
    width: 60%;
    margin: 5px;
    opacity: 0.8;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
