{% extends "layout.html" %}

{% block title %}
    Message Board
{% endblock %}

{% block main %}

<div class="container-fluid" id="channelheader">
    <div class="form-row" id="channelheaderrow">
        <div class="col">
            <p>
                Messages: Name of channel here
            </p>
        </div>
    </div>
</div>

<div class="messages">
    <div class="container">
        <p class="messageheader">
            <span>Display name here & timestamp</span>
        </p>
        <p class="messagetext">
            <span>This is just some random text. This is where the messages should go. There is a large margin around this block of text and I cannot find out where this is coming from. I wonder what will happen if there is more text in this block.</span>
        </p>
    </div>
    <div class="container">
        <p class="messageheader">
            <span>Display name here </span><span>& timestamp</span>
        </p>
        <p class="messagetext">
            This is just some random text. This is where the messages should go. There is a large margin around this block of text and I cannot find out where this is coming from. I wonder what will happen if there is more text in this block.
        </p>
    </div>
    <div class="container">
        <p class="messageheader">
            <span>Display name here </span><span>& timestamp</span>
        </p>
        <p class="messagetext">
            This is just some random text. This is where the messages should go. There is a large margin around this block of text and I cannot find out where this is coming from. I wonder what will happen if there is more text in this block.
        </p>
    </div>
    <div class="container">
        <p class="messageheader">
            <span>Display name here </span><span>& timestamp</span>
        </p>
        <p class="messagetext">
            This is just some random text. This is where the messages should go. There is a large margin around this block of text and I cannot find out where this is coming from. I wonder what will happen if there is more text in this block.
        </p>
    </div>
</div>

<div class="container-fluid" id="new-message">
    <form>
      <div class="form-row">
        <div class="col">
          <input autocomplete="off" autofocus placeholder="New Message" type="text" class="form-control">
        </div>
        <div class="col-2">
            <div class="btn-group btn-group-sm ml-1 mt-1" role="group">
                <button type="button" class="btn btn-secondary">Add image</button>
            </div>
        </div>
      </div>
    </form>
</div>

{% endblock %}
