{% extends "layout.html" %}

{% block title %}
    Message Board
{% endblock %}

{% block main %}

<header class="header">
    <div>
        Messages: Name of channel here
    </div>
</header>

<ul id="messages">
    <div class="container">
        <h3 class="textblock">
            Random text 1
        </h3>
        <p class="textblock">
            This is just some random text. This is where the messages should go. There is a large margin around this block of text and I cannot find out where this is coming from. I wonder what will happen if there is more text in this block.
        </p>
    </div>
    <div class="container">
        <h3 class="textblock">
            Random text 2
        </h3>
        <p class="textblock">
            This is just some random text. This is where the messages should go. There is a large margin around this block of text and I cannot find out where this is coming from. I wonder what will happen if there is more text in this block.
        </p>
    </div>
    <div class="container">
        <h3 class="textblock">
            Random text 3
        </h3>
        <p class="textblock">
            This is just some random text. This is where the messages should go. There is a large margin around this block of text and I cannot find out where this is coming from. I wonder what will happen if there is more text in this block.
        </p>
    </div>
</ul>

<form id="new-message">
    <div class="form-row align-items-center">
        <div class="col-10">
            <label class="sr-only" for="message">Name</label>
            <input id="message" autocomplete="off" autofocus placeholder="New Message" type="text" class="form-control mb-2 mr-sm-2">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </div>
</form>

{% endblock %}
