<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>

        <title>Flack {% block title %}{% endblock %}</title>

    </head>

    <body class="bg">

        <span id="menubutton" onclick="openNav()">&#9776;</span>

        <div id="menu" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <span>You</span>
            <ul>
                <li id="displayname"></li>
            </ul>
            <span>Favorite channels</span>
            <ul id="favorites">
            </ul>
            <span><a href="#">Add favorite</a></span>
            <span><a href="#">Create new channel</a></span>
            <span>All channels</span>
            <ul id="channels">
                {% for channel in channels %}
                    <li><a href="#" id="ch_" + "{{ channel }}">{{ channel }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <main id="main">

            <div class="container-fluid" id="channelheader">
                <div class="form-row" id="channelheaderrow">
                    <div class="col">
                        <p>
                            Messages: Name of channel here
                        </p>
                    </div>
                </div>
            </div>

            <div id="messages">
                <div class="container">
                    <p class="messageheader">
                        <span>Display name here & timestamp</span>
                    </p>
                    <p class="messagetext">
                        <span>This is just some random text. This is where the messages should go. There is a large margin around this block of text and I cannot find out where this is coming from. I wonder what will happen if there is more text in this block.</span>
                    </p>
                </div>
                <div class="container">
                    <p class="messageheader">
                        <span>Display name here </span><span>& timestamp</span>
                    </p>
                    <p class="messagetext">
                        This is just some random text. This is where the messages should go. There is a large margin around this block of text and I cannot find out where this is coming from. I wonder what will happen if there is more text in this block.
                    </p>
                </div>
                <div class="container">
                    <p class="messageheader">
                        <span>Display name here </span><span>& timestamp</span>
                    </p>
                    <p class="messagetext">
                        This is just some random text. This is where the messages should go. There is a large margin around this block of text and I cannot find out where this is coming from. I wonder what will happen if there is more text in this block.
                    </p>
                </div>
                <div class="container">
                    <p class="messageheader">
                        <span>Display name here </span><span>& timestamp</span>
                    </p>
                    <p class="messagetext">
                        This is just some random text. This is where the messages should go. There is a large margin around this block of text and I cannot find out where this is coming from. I wonder what will happen if there is more text in this block.
                    </p>
                </div>
            </div>

            <div class="container-fluid" id="new-message">
                <form>
                    <div class="form-row">
                        <div class="col">
                            <input autocomplete="off" autofocus placeholder="New Message" type="text" class="form-control">
                        </div>
                        <div class="col-2">
                            <div class="btn-group btn-group-sm ml-1 mt-1" role="group">
                                <button type="button" class="btn btn-secondary">Add image</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </main>

<!-- pop-up form for creating display name -->
        <div class="form-popup">
            <form action="/createdisplayname" id="newdisplayname" class="form-container">
                <h1>New display name</h1>

                <label for="displayname"><b>Display name</b></label>
                <input type="text" placeholder="Display name" name="displayname" required>
                <span id="displaynamefeedback">Feedback</span>

                <button type="submit" class="btn">Create</button>
                <button type="submit" class="btn cancel" onclick="closeForm('newdisplayname')">Cancel</button>
            </form>
        </div>

<!-- pop-up form for creating new channel -->
        <div class="form-popup">
            <form action="/createnewchannel" id="newchannel" class="form-container">
                <h1>New channel</h1>

                <label for="channel"><b>Channel name</b></label>
                <input type="text" placeholder="Name of new channel" name="channel" required>
                <span id="channelfeedback">Feedback</span>

                <button type="submit" class="btn">Create</button>
                <button type="submit" class="btn cancel" onclick="closeForm('newchannel')">Cancel</button>
            </form>
        </div>

    </body>

<html>
