<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>

        <title>Flack</title>

    </head>

    <body class="bg">

        <span id="menubutton" onclick="openNav()">&#9776;</span>

        <div id="menu" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <span>You</span>
            <ul>
                <li id="displayname"></li>
            </ul>
            <span>Favorite channels</span>
            <ul id="favorites">
            </ul>
            <span>Create new channel:</span>
            <form id="newchannel-form">
                <input id="newchannel-input" type="text" placeholder="New channel" name="channel" required>
            </form>
            <span id="channelfeedback"></span><br>
            <span>All channels</span>
            <ul id="channels">
                {% for channel in channels %}
                    <li><a href="javascript:void(0)" onclick="loadmessages('{{ channel }}')">{{ channel }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <main id="main">

            <div id="channelheader" class="container-fluid">
                <div id="channelheaderrow" class="row">
                    <div id="channelheadertext" class="col">
                    </div>
                    <div class="col">
                        <button id="favorite-button" type="button" class="btn btn-secondary btn-sm">Add to favorites</button>
                    </div>
                </div>
            </div>

            <div id="messages">
            </div>

            <div id="newmessage-field" class="container-fluid">
                <form id="newmessage-form">
                    <div class="form-row">
                        <div class="col">
                            <input id="newmessage-input" autocomplete="off" autofocus placeholder="New Message" type="text" class="form-control">
                        </div>
                    </div>
                </form>
            </div>

        </main>

<!-- pop-up form for creating display name -->
        <div id="overlay">
        </div>
        <div id="displayname-popup" class="form-popup">
            <form id="displayname-form" action="" class="form-container">
                <h4>Please create a display name</h4>
                <span>Your display name will be visible with every message that you send</span>
                <input id="displayname-input" type="text" placeholder="Display name" required><br>
                <span id="displayname-feedback"></span><br>
                <button type="submit" class="btn">Create</button>
            </form>
        </div>

    </body>

<html>
